footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cccccc;
    position: relative;
    bottom: -70px;
}

p {
    padding: 5px;
    text-align: center;
}